/*
-------- login.html
*/
#login-container {
    width: 480px;
    padding: 2rem;
    margin: 80px auto;
}

#login-title {
    margin-bottom: 2rem;
}

.forget-password {
    line-height: 2.5rem;
}

/*
----- admin basic
*/
.container {
    margin: auto;
    max-width: 1200px;
}

#header {
    background-color: #FFF;
    height: 50px;
}

#header .container .item {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 49px;
    height: 49px;
}

#header .container > .item:first-child{
    padding-left: 0;
}

#title {
    margin: 0;
    line-height: 49px;
}

#header .nav-item {
    padding-left: 0;
}

#header .nav-item .item {
    text-align: center;
}

#header .nav-item:before {
    width: 0;
}

#header .user-item {
    padding-left: 0;
}

#header .user-item img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: .5em;
}

#logout {
    color: #d95c5c;
}

#header .dropdown .menu {
    margin-top: -1px;
    margin-left: -1px;
}

#header .dropdown .menu .item {
    height: auto;
    line-height: normal;
    width: auto;
}

#header .dropdown.item {
    background-color: transparent !important;
}

.main-container{
    margin-top: 80px;
}

/*
----- profile page
*/

#profile-form .inline.field label{
    width: 10rem;
}

#profile-form .inline.field input{
    width: 75%;
}

#profile-form textarea{
    resize: vertical;
    width:95%;
}

#profile-form .ui.message{
    width: 95%;
}

#password-form .inline.field label{
    width: 7rem;
}

#password-form .inline.field input{
    width: 60%;
}