<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>Profile - ABlog</title>
    <link rel="stylesheet" href="/theme/admin/css/admin.css"/>
</head>
<body>
<nav id="admin-menu">
    <ul>
        <li><a href="/admin/profile"><img src="https://avatars3.githubusercontent.com/u/2142787?v=3&s=40" alt="gravatar" class="avatar"/> {{.AuthUser.Name}}</a></li>
        <li class="current"><a href="">Articles</a></li>
        <li><a href="">Pages</a></li>
        <li><a href="#">Comments <span class="num">12</span></a></li>
        <li><a href="">Themes</a></li>
        <li><a href="">Settings</a></li>
        <li class="out"><a href="/logout">Sign Out</a></li>
    </ul>
</nav>
<div id="admin-main">
    <div id="profile-wrapper">
        <header class="admin-main-header clearfix">
            <h1>Your Profile</h1>
        </header>
        <section class="clearfix">
            <form id="profile-base-form" action="/admin/profile" method="post" class="admin-general-form">
                {{if eq .IsProfileUpdate 2}}
                <p class="success-notice">your profile is updated !!</p>{{end}}
                {{if eq .IsProfileUpdate 1}}
                <p class="fail-notice">update profile failed</p>{{end}}
                <p class="field">
                    <label for="username" class="req">Username</label>
                    <input id="username" name="username" required="required" type="text" value="{{.AuthUser.Name}}"/>
                </p>
                <p class="field">
                    <label for="nickname" class="req">Nickname</label>
                    <input id="nickname" name="nickname" required="required" type="text" value="{{.AuthUser.NickName}}"/>
                </p>
                <p class="field">
                    <label for="email" class="req">Email</label>
                    <input id="email" name="email" required="required" type="email" value="{{.AuthUser.Email}}" placeholder="your email address"/>
                </p>
                <p class="field">
                    <label for="url">Url</label>
                    <input id="url" name="url" type="url" value="{{.AuthUser.Url}}" placeholder="your url address"/>
                </p>
                <fieldset>
                    <legend>Bio</legend>
                    <textarea name="bio" id="bio" placeholder="your bio">{{.AuthUser.Bio}}</textarea>
                </fieldset>
                <p class="field submit">
                    <button>Update Profile</button>
                    {{.XsrfFormHtml}}
                </p>
            </form>
            <form id="profile-pwd-form" action="/admin/profile/password" method="post" class="admin-general-form">
                <h4>Change Password</h4>
                {{if eq .IsPasswordUpdate 2}}
                <p class="success-notice">your password is updated !!</p>{{end}}
                {{if eq .IsPasswordUpdate 1}}
                <p class="fail-notice">update password failed</p>{{end}}
                {{if .IsOldPasswordError}}
                <p class="fail-notice">old password is wrong !!</p>{{end}}
                {{if .IsConfirmPasswordError}}
                <p class="fail-notice">confirm password is not same to new password !</p>{{end}}
                <p class="field">
                    <label for="old-pwd">Old</label>
                    <input id="old-pwd" name="old-pwd" type="password" required="required"/>
                </p>
                <p class="field">
                    <label for="new-pwd">New</label>
                    <input id="new-pwd" name="new-pwd" type="password" required="required"/>
                </p>
                <p class="field">
                    <label for="confirm-pwd">Confirm</label>
                    <input id="confirm-pwd" name="confirm-pwd" type="password" required="required"/>
                </p>
                <p class="field submit">
                    <button>Update Password</button>
                    {{.XsrfFormHtml}}
                </p>
            </form>
        </section>
    </div>
</div>
</body>
</html>