<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/theme/admin/semantic/semantic.min.css"/>
    <link rel="stylesheet" href="/theme/admin/admin.css"/>
    <script src="/theme/admin/jquery/jquery-1.11.2.min.js"></script>
    <script src="/theme/admin/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/theme/admin/jquery/jquery.address-1.5.min.js"></script>
    <script src="/theme/admin/semantic/semantic.min.js"></script>
    <script src="/theme/admin/admin.js"></script>
</head>
<body>
{{template "admin/header.html" .}}
<div id="taxonomy-container" class="main-container">
    <div class="container">
        <div id="taxonomy-nav" class="ui top attached tabular menu">
            <a class="active item" data-tab="category-tab">Category</a>
            <a class="item" data-tab="tag-tab">Tag</a>
        </div>
        <div class="ui bottom attached active tab segment taxonomy-tab" data-tab="category-tab">
            <table class="ui large table" id="category-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Desc</th>
                    <th>Article</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>{{range .Categories}}
                <tr id="category-{{.Id}}">
                    <td>{{.Name}}</td>
                    <td>{{.Slug}}</td>
                    <td>{{.Description}}</td>
                    <td>{{.Count}}</td>
                    <td>
                        <a class="ui positive button tiny" href="#"><i class="icon write"></i>modify</a>
                        <a class="ui negative button tiny" href="#"><i class="icon remove"></i>remove</a>
                    </td>
                </tr>{{end}}
                </tbody>
            </table>
            <div class="ui segment" id="category-add-container">
                <h3 class="ui header dividing">New Category</h3>
                <form class="ui form" id="category-add-form" action="/admin/taxonomy?category=true" method="post">
                    <div class="two fields">
                        <div class="field">
                            <label for="category-name">Name</label>
                            <input id="category-name" type="text" name="name" placeholder="category name"/>
                        </div>
                        <div class="field">
                            <label for="category-slug">Slug</label>
                            <input id="category-slug" type="text" name="slug" placeholder="category slug"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="category-desc">Description</label>
                        <input id="category-desc" type="text" name="desc" placeholder="category description"/>
                    </div>
                    <div class="field">
                        <button class="ui primary button">Add Category</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="ui bottom attached tab segment taxonomy-tab" data-tab="tag-tab">
            this is tag tab
        </div>
    </div>
</div>
<script>
    $('#taxonomy-nav .item').tab({history:true});
</script>
</body>
</html>