@import "base";

html,
body{
  height: 100%;
}

.admin-pager{
  li{
    a{
      padding: 4px 8px;
    }
    float: left;
    margin-right: 12px;
  }
  list-style: none;
  padding-left: 0;
}

.admin-general-form{
  label{
    width: 8em;
    margin-right: 12px;
    display: inline-block;
  }
}

.success-notice{
  font-weight: bold;
  color: #16b544;
}

.fail-notice{
  font-weight: bold;
  color: #de3d3d;
}

#admin-menu{
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #333;
  color: #DDD;
  a{
    color: #DDD;
    &:hover{
      color: #FFF;
    }
  }
  ul{
    list-style: none;
    padding-left: 0;
    li{
      line-height: 48px;
      padding-left: 20px;
      a{
        display: block;
      }
      border-top: 1px solid #404040;
      &:hover{
        background-color: #303030;
      }
    }
    li.current{
      background-color: #282828;
    }
    li.out a{
      color: #ff745f;
    }
  }
  .avatar{
    width: 28px;
    height: 28px;
    margin-right: 12px;
  }
  .num{
    background-color: #03aafc;
    color: #FFF;
    padding: 4px 6px;
    font-size: 13px;
    margin-left: 8px;
  }
}

#admin-main{
  padding-left: 236px;
  padding-right: 36px;
  .admin-main-header{
    line-height: 60px;
    h1{
      float: left;
      margin-right: 24px;
      margin-bottom: 0;
    }
  }
}


@import "article";
@import "user";