#profile-base-form{
  .field{
    input{
      width: 450px;
      height: 36px;
    }
    margin-bottom: 18px;
  }
  width: 579px;
  #bio{
    width: 546px;
    height: 200px;
  }
  .field.submit{
    text-align: right;
  }
}

#profile-base-form,
#profile-pwd-form{
  float: left;
}

#profile-pwd-form{
  margin-left: 40px;
  .field{
    input{
      height: 36px;
    }
    margin-bottom: 18px;
  }
  .field.submit{
    text-align: right;
    button{
      background-color: #ff745f;
      &:hover{
        background-color: #ff5a41 ;
      }
    }
  }
  border:1px solid #decccd;
  background-color: #fff4f7;
  padding: 12px 20px;
}