*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template,
script {
  display: none;
}
a {
  background: transparent;
}
a:focus,
a:hover,
a:active {
  outline: none;
}
a:hover {
  cursor: pointer;
}
ins,
a {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
pre {
  white-space: pre-wrap;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace;
  font-size: 1em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  position: relative;
  background: #FCFCFC;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  font-weight: normal;
  line-height: 20px;
  color: #444;
  font-size: 14px;
}
a {
  color: #0e90d2;
}
a:hover {
  color: #095f8a;
}
body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
abbr[title],
dfn[title] {
  cursor: help;
}
dfn[title] {
  border-bottom: 1px dotted;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .4rem 0;
  font-weight: bold;
  font-size: 100%;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.1em;
}
hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  border-top: 1px solid #999;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
iframe {
  border: 0;
}
blockquote {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-left: 4px solid #999;
  font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
button,
input:not([type="radio"]):not([type="checkbox"]),
select {
  vertical-align: middle;
}
ul,
ol {
  margin: 0;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
fieldset {
  border: 1px solid #DDD;
  background-color: #F8F8F8;
  padding: 12px;
}
input[type=text],
input[type=url],
input[type=password],
input[type=email],
input[type=search],
textarea {
  padding: 6px 12px;
  outline: none;
  border: 1px #D0E2EA solid;
  min-height: 32px;
}
input[type=text]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
textarea:focus {
  background-color: #fffded;
  border: 1px #888 solid;
}
textarea {
  min-width: 100px;
  min-height: 80px;
}
input[type=submit],
input[type=button],
input[type=reset],
button {
  padding: 6px 12px;
  outline: none;
  border: none;
  background-color: #5BA4E5;
  min-height: 32px;
  color: #FFF;
}
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
button:hover {
  background-color: #3690DF;
}
html,
body {
  height: 100%;
}
.admin-pager {
  list-style: none;
  padding-left: 0;
}
.admin-pager li {
  float: left;
  margin-right: 12px;
}
.admin-pager li a {
  padding: 4px 8px;
}
.admin-general-form label {
  width: 8em;
  margin-right: 12px;
  display: inline-block;
}
.success-notice {
  font-weight: bold;
  color: #16b544;
}
.fail-notice {
  font-weight: bold;
  color: #de3d3d;
}
#admin-menu {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #333;
  color: #DDD;
}
#admin-menu a {
  color: #DDD;
}
#admin-menu a:hover {
  color: #FFF;
}
#admin-menu ul {
  list-style: none;
  padding-left: 0;
}
#admin-menu ul li {
  line-height: 48px;
  padding-left: 20px;
  border-top: 1px solid #404040;
}
#admin-menu ul li a {
  display: block;
}
#admin-menu ul li:hover {
  background-color: #303030;
}
#admin-menu ul li.current {
  background-color: #282828;
}
#admin-menu ul li.out a {
  color: #ff745f;
}
#admin-menu .avatar {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}
#admin-menu .num {
  background-color: #03aafc;
  color: #FFF;
  padding: 4px 6px;
  font-size: 13px;
  margin-left: 8px;
}
#admin-main {
  padding-left: 236px;
  padding-right: 36px;
}
#admin-main .admin-main-header {
  line-height: 60px;
}
#admin-main .admin-main-header h1 {
  float: left;
  margin-right: 24px;
  margin-bottom: 0;
}
#article-list {
  list-style: none;
  padding-left: 24px;
}
#article-list li {
  line-height: 72px;
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid #DDD;
}
#article-list li .time {
  color: #999;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 24px;
}
#article-list li a {
  transition: all linear .2s;
}
#article-list li a.title {
  font-size: 1.4em;
}
#article-list li .reads {
  width: 100%;
  border: 1px solid #16b544;
}
#article-list li .reads,
#article-list li .comments {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 1px;
  font-size: 0;
}
#article-list li .comments {
  width: 50%;
  border: 1px solid #de3d3d;
}
#article-list li .private {
  margin-left: 12px;
  padding: 6px 12px;
  background-color: #bbb;
  color: #FAFAFA;
}
#article-list li a.read {
  margin-left: 12px;
  padding: 6px 12px;
  background-color: #666;
  color: #FAFAFA;
  opacity: 0;
}
#article-list li a.read:hover {
  background-color: #333;
}
#article-list li:hover a.read {
  opacity: 1;
}
#article-pager {
  padding-left: 24px;
  line-height: 80px;
}
#article-pager a {
  background-color: #EEE;
  border: 1px solid #888;
  color: #444;
  transition: all linear .25s;
}
#article-pager a.current {
  background-color: #03a3f1;
  border-color: #095f8a;
  color: #FAFAFA;
}
#article-pager a:hover {
  background-color: #444;
  border-color: #444;
  color: #FAFAFA;
}
#article-write-form {
  padding-top: 24px;
}
#article-write-form #article-title {
  border: none;
  margin-bottom: 12px;
  font-size: 18px;
  width: 100%;
  height: 40px;
}
#article-write-form button.submit {
  float: right;
}
#article-write-form input[name=tags] {
  width: 500px;
  margin-right: 12px;
}
#article-write-form label input {
  margin-right: 8px;
}
#profile-base-form {
  width: 579px;
}
#profile-base-form .field {
  margin-bottom: 18px;
}
#profile-base-form .field input {
  width: 450px;
  height: 36px;
}
#profile-base-form #bio {
  width: 546px;
  height: 200px;
}
#profile-base-form .field.submit {
  text-align: right;
}
#profile-base-form,
#profile-pwd-form {
  float: left;
}
#profile-pwd-form {
  margin-left: 40px;
  border: 1px solid #decccd;
  background-color: #fff4f7;
  padding: 12px 20px;
}
#profile-pwd-form .field {
  margin-bottom: 18px;
}
#profile-pwd-form .field input {
  height: 36px;
}
#profile-pwd-form .field.submit {
  text-align: right;
}
#profile-pwd-form .field.submit button {
  background-color: #ff745f;
}
#profile-pwd-form .field.submit button:hover {
  background-color: #ff5a41 ;
}
