*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template,
script {
  display: none;
}
a {
  background: transparent;
}
a:focus,
a:hover,
a:active {
  outline: none;
}
a:hover {
  cursor: pointer;
}
ins,
a {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
pre {
  white-space: pre-wrap;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace;
  font-size: 1em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  position: relative;
  background: #FCFCFC;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  font-weight: normal;
  line-height: 20px;
  color: #444;
  font-size: 14px;
}
a {
  color: #0e90d2;
}
a:hover {
  color: #095f8a;
}
body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
abbr[title],
dfn[title] {
  cursor: help;
}
dfn[title] {
  border-bottom: 1px dotted;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .4rem 0;
  font-weight: bold;
  font-size: 100%;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.1em;
}
hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  border-top: 1px solid #999;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
iframe {
  border: 0;
}
blockquote {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-left: 4px solid #999;
  font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
button,
input:not([type="radio"]):not([type="checkbox"]),
select {
  vertical-align: middle;
}
ul,
ol {
  margin: 0;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
input[type=text],
input[type=password],
input[type=email],
input[type=search] {
  padding: 6px 12px;
  outline: none;
  border: 1px #D0E2EA solid;
  transition: border linear .2s;
  min-height: 32px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus {
  background-color: #fffded;
  border: 1px #888 solid;
}
input[type=submit],
input[type=button],
input[type=reset],
button {
  padding: 6px 12px;
  outline: none;
  border: none;
  background-color: #5BA4E5;
  min-height: 32px;
  color: #FFF;
  transition: background linear .2s;
}
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
button:hover {
  background-color: #3690DF;
}
#login-form {
  max-width: 320px;
  margin: 80px auto;
}
#login-form h1 {
  text-align: center;
  padding-bottom: 12px;
  font-size: 1.8rem;
}
#login-form label {
  margin-top: 24px;
  display: block;
}
#login-form input[type=text],
#login-form input[type=password] {
  font-size: 16px;
  padding: 12px;
  width: 320px;
}
#login-form button {
  font-size: 14px;
  height: 40px;
  padding: 0 30px;
  text-transform: uppercase;
}
.login-remember {
  float: right;
  line-height: 40px;
}
.login-question {
  float: right;
}
